/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
COLOR PALETTE:
#897E8B LIGHT PURPLE-BLUE
#C6C5B9 LIGHT GRAY-BLUE
#4C5F73 DARK GRAY-BLUE
#612A31 LIGHT MAROON
#62929E LIGHT SEAFOAM-GRAY
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*GLOBAL STYLES (at the top since browsers read top to bottom)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

body {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    color: #363537;
    background: linear-gradient(to bottom, #450920, #4f4f56);
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

a {
    color: indianred;
}

a:hover {
    text-decoration: none;
    /*removes underline on hover*/
}

/*HEADER AND FOOTER
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

header {
    margin: -1% -1% 0% -1%;
    font-family: 'Righteous', cursive;
    opacity: 1;
    /* background: linear-gradient(to top, #450920, #4C5F73); */
}

footer {
    margin:  2% -1% 0% -1%;
    padding-bottom: 40px;
    /* background: linear-gradient(to top, #4C5F73, #450920); */
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #E9B9BC;
    opacity: 1;
}

#bigName {
    font-size: 40px;

}

h1 {
    color: #E9B9BC;
    font-size: 80px;
    margin: 1%;
    padding: 1% 1% 2% 1%;

}

h2 {
    font-size: 60px;
    font-style: oblique;
}

h1,
h2 {
    font-family: 'Righteous', cursive;

    text-align: center;
    font-weight: 600;
    margin: 1%;
    padding: 1% 1% 0% 1%;
}

h3 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

h3,
h4 {
    color: #363537;
    font-weight: 500;
    margin: 1%;
    padding: 0% 1% 0% 1%;
}

p,
ul {
    font-weight: 500;
    margin: 1%;
    padding: 0% 1% 0% 3%;
}

section {
    padding: 0% 3% 1% 3%;
}

.wrapperCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}

.black {
    color: #E9B9BC;
}
#contact {
  color: #E9B9BC;
}
/*PROJECTS
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.projects {
    background: linear-gradient(to top, #4C5F73, #E9B9BC);
    opacity: 0.78;
}
.gbm {
  
}

/*SKILS
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.skills {
    background: linear-gradient(to top, #4C5F73, #E9B9BC);
    color: #363537;
    opacity: 0.78;
}

/*WORK EXPERIENCE
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.work {
    background: linear-gradient(to top, #4C5F73, #E9B9BC);
    color: #363537;
    opacity: 0.78;
